<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>My custom recipe</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/app.js"></script>
	</head>
	<body background = "../assets/images/kitchen2.jpg" class = 'img-responsive center-block'>
		{{{ body }}}
	</body>
</html>
