<div class="container">
    <div class="jumbrotron">
        <h1 class="text-center">Welcome</h1>
        <h2 class="text-center">My Custom Recipe Generator</h2>
    </div>

    <br><br><br><br><br><br><br><br><br>
    
    <main>
         <a class="google-btn" href="/auth/google">Google</a>
    </main>

</div>
