    <div class="row">
        <div class="col-xs-4 col-md-4"></div>
        <div class="col-xs-4 col-md-4">
            <h2 class="text-center">My Custom Recipe Generator</h2>
            <form class="create-update-form" action="recipes/create" method="POST">

                <div class="form-group">
                    <label for="ca">Ingredients to add:</label>
                    <input type="text" id="ca" name="name" placeholder="Seperate ingredients with a comma">
                </div>

                <button class="btn btn-secondary" type="submit">Add ingredients</button>
            </form>
        </div>
        <div class="col-xs-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-3 col-md-3">
            <h2 class="text-center">Ingredients in My Fridge</h2>
            <ul>
                {{#each recipes}} 
                {{#unless this.myFridge}}
                <li>
                    {{this.ingredient_name}}
                    <form action="recipes/update/{{this.id}}?_method=PUT" method="POST">
                        <button class="btn btn-primary" type="submit">Add to my Recipe Ingredients</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="text-center col-xs-4 col-md-4">
            <img class="img-responsive" id="burger-picture" src="/assets/images/burgerREMOVE.jpg">
        </div>
      
        <div class="col-xs-3 col-md-3">
            <h2 class="text-center">Recipe Ingredients</h2>
            <ul>
                {{#each recipes}} 
                {{#if this.myFridge}}
                <li>
                    {{this.ingredient_name}}
                </li>
                {{/if}} 
                {{/each}}
            </ul>
        </div>
        <div class="col-xs-1 col-md-1"></div>
    </div>

    