body {
  /*background-image: url("https://github.com/aaronwey/project2/blob/master/public/assets/images/kitchen.jpg?raw=true")*/
  background-repeat: no-repeat;
  /*min-height: 100%;*/
  background-size: 75%;
  margin: 0;
  padding: 1em;
  font-family: 'Comfortaa', cursive;
}

.welcome{
    float: left;
    width: 60%;
    margin-top: 0px !important;
}

.my{
    float: left;
    width: 60%;
    margin-top: 0px !important;
}

.master-container {
    min-height: 100%; /* force height of html and body */   
}

.home {
  margin: 10px;
}

.vertical-center {
  margin: 12%;
}

.jumbrotron{
    background-color lightgray;
    color: black;
    width: 75%;
    float: left;
}

h1, h2, label, li{
    color: black;
}

#ca {
    height: 80px;
    width: 450px;
    border-radius: 5%;
}

.btn-primary {
    
    margin-left: 35%;
}

.btn-secondary {
    
}

li{
    font-size: 15px;
}

nav{
    background: #ff5353;
    padding: 20px 10px;
    float: left;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}
main, header{
    max-width: 960px;
/*    margin: 30px auto;*/
    padding: 0 10px;
    color: #333;
    float: left;
}
/* .google-btn{
    margin-left: 50%;
    margin-top: 80%;				
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background: #ff5353;
} */

.recipe { 
  position: absolute;
  left: 75%;
  width: 25%;
  height: 75%;
  /*padding: 20px;*/
  /*margin-left: 30px;*/
  background: white;
  border: 1px solid #eee;
}

#list {
  background: white;
}

#use {
  background: #8080803b;
}

.fridge {
  position: absolute;
  left: 40%;
  width: 24%;
  height: 50%;
  text-align: center;
  margin-top: 24%;
}

/*.freezer {
  position: absolute;
  left: 40%;
  width: 24%;
  height: 31%;
  text-align: center;
  margin-top: 8%;
}*/

.spice {
  position: absolute;
  left: 23%;
  height: 20%;
  text-align: center; 
  margin-top: 18%
}

.clock {
  position: absolute;
  left: 7%;
  width: 10%;
  height: 20%;
  margin-top: 8%;
  text-align: center; 
}

.pantry {
  position: absolute;
  left: 9%;
  width: 26%;
  height: 37%;
  text-align: center; 
  margin-top: 29%;
}

.items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#meat{
  position: relative;
}

#meat img{
  position: absolute;
  top: 22px;
  left: 60px;
}

#dairy {
  position: relative;
}

#dairy img{
  position: absolute;
  top: 22px;
  left: 210px;
}

#vegetable {
  position: relative;
}

#vegetable img {
  position: absolute;
  top: 145px;
  left: 60px;
}

#fruit {
  position: relative;
}

#fruit {
  position: absolute;
  top: 145px;
  left: 210px;  
}

#grain {
  position: relative;
}

#grain img {
  position: absolute;
  left: 80px;
}

#bean {
  position: relative;
}

#bean img {
  position: absolute;
  left: 217px;
}

#pantryInput {
  margin-top: 27%;
}

#fridgeInput {
  margin-top: 35%;
  margin-left: 10%;
}

#oil {
  position: relative;
}

#oil img {
  position: absolute;
  left: 80px;
  margin-top: 26%;
}

#nut {
  position: absolute;
  left: 217px;
  margin-top: 26%;
}

#fridgeView{
    margin-left: 5%;
}
