body{
    background-color: lightgray ;
}

.jumbotron{
    background-color lightgray;
    color: black;
}

h1, h2, label, li{
    color: black;
}

#ca {
    height: 80px;
    width: 450px;
    border-radius: 5%;
}

.btn-primary {
    margin-top: -5%;
    margin-left: 45%;
}

.btn-secondary {
    margin-left: 45%;
}

li{
    font-size: 15px;
}

body{
    font-family: arial;
    margin: 0;
}
nav{
    background: #ff5353;
    padding: 20px 10px;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}
main, header{
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}
.google-btn{
    margin-left: 50%;
    margin-top: 80%;				
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background: #ff5353;
}

